extends ./layout/index

block contenido
      main.container.mt-5
            .row
                  .col-md-5
                        img(src="img/nosotros.jpg" alt="Imagen Sobre Nosotros" class="img-fluid")
                  .col-md-7 
                        h1 #{pagina}
                        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia non sequi obcaecati omnis quasi cumque dolore blanditiis rerum pariatur cum culpa nisi ullam consequuntur sint repellendus eum odio, dolores adipisci? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum corrupti, ut incidunt, minus cum ratione nostrum, asperiores saepe similique cumque sed accusantium laborum animi in! 

                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident dolorum porro vel quae laudantium aut impedit adipisci suscipit doloremque, dolores qui voluptas quaerat mollitia vitae ab consectetur perferendis fuga. Atque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nulla ex. Temporibus reiciendis voluptates labore quas repellat dolorum quasi deleniti non quibusdam consequatur, dolorem modi tempora error accusamus neque voluptatibus.

      .listado-iconos 
            .container.mt-5.py-5.text-center 
                  .row 
                        .col-md-4 
                              img(src="img/icono_seguridad.svg" alt="Icono Seguridad" class="img-fluid mb-4")
                              h2.mb-4 Seguridad 
                              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla cupiditate labore consequatur? Quia natus porro, error quibusdam et pariatur delectus, quis, minima voluptatum fuga sit excepturi inventore sed impedit adipisci.

                        .col-md-4 
                              img(src="img/icono_destinos.svg" alt="Icono Destinos" class="img-fluid mb-4")
                              h2.mb-4 Destinos 
                              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla cupiditate labore consequatur? Quia natus porro, error quibusdam et pariatur delectus, quis, minima voluptatum fuga sit excepturi inventore sed impedit adipisci.

                        .col-md-4 
                              img(src="img/icono_precios.svg" alt="Icono Precios" class="img-fluid mb-4")
                              h2.mb-4 Precios 
                              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla cupiditate labore consequatur? Quia natus porro, error quibusdam et pariatur delectus, quis, minima voluptatum fuga sit excepturi inventore sed impedit adipisci.            
